
  <h1>Node.js Web Server</h1>
  <h2>Hallo Saya <%= nama %></h2>

  <h3>Member Batfamily</h3>
  <ul>
    <% member.forEach(m => { %>
      <li>Halo saya <%= m.nama %>, email saya : <%= m.email %></li>
    <% }) %>
  </ul>
